:root {
    --primary: #1ebfc1;
}
* {
    box-sizing: border-box;
}
html,
body {
    scroll-behavior: smooth;
}
html {
    font-size: 62.5%;
}
.btn {
    display: inline-block;
    min-width: 186px;
    line-height: 68px;
    border-radius: 14px;
    background: #1ebfc1;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
    padding: 0 16px;
    text-align: center;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
}
body {
    scroll-behavior: smooth;
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
/* .header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
} */
.fixed {
    position: sticky;
    top: -28px;
    z-index: 9999;
    background: #fff;
}
.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}
a {
    text-decoration: none;
}
.main-content {
    position: relative;
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}
.main-content .body {
    /* padding: 57px 0 8px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 79px;
}
.nav ul {
    display: flex;
}
.nav a {
    color: #2f3a3b;
    font-size: 1.6rem;
    padding: 8px 19px;
}
.nav a:hover,
.nav li.active a {
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
    font-weight: 600;
}
.header .sign-in-btn {
    color: #494949;
    font-size: 1.6rem;
}
.header .sign-up-btn {
    min-width: 108px;
    line-height: 48px;
    margin-left: 24px;
    background-color: transparent;
    border: 1px solid #1ebfc1;
}
.action a {
    color: #1ebfc1;
    font-size: 1.6rem;
    font-weight: 600;
}
.header .action {
    margin-right: 0 24px;
}
.hero {
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero .sub-title {
    color: #767e7e;
    font-size: 1.4rem;
    font-weight: 400;
}
.heading.lv2 {
    margin-top: 18px;
    color: #0d1111;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.16; /* 116.129% */
}
.hero .desc {
    margin-top: 46px;
    width: 374px;
    color: #9da6a5;
    font-size: 1.8rem;
    line-height: 1.77; /* 177.778% */
}
.body .group-btn {
    display: inline-flex;
    margin-top: 52px;
}
.body .play {
    width: 62px;
    height: 62px;
    display: flex;
    margin-left: 50px;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
.hero .images {
    position: relative;
    width: 576px;
    height: 631px;
    background: url(<path-to-image>) #e0f7f6 -187.189px -71.417px / 157.903%
        111.318% no-repeat;
}
.hero .courses {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 157px;
    height: 75px;
    border-radius: 18px;
    background: #fefefd;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}
.hero .courses .desc-book {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
    width: 55px;
}
.hero .courses .course-item {
    position: relative;
}
.hero .courses .course-item::before {
    content: "";
    position: absolute;
    display: inline-block;
    top: 28px;
    left: 4px;
    right: 4px;
    bottom: 8px;
    width: 28px;
    height: 4px;
    background: #fff;
    border-radius: 4px;
}
.hero .images .courses {
    position: absolute;
    top: 149px;
    left: -40px;
}
.hero .courses .note-book {
    margin-right: 16px;
}

.hero .Schedules {
    border-radius: 24px;
    background: #fff;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
    width: 124px;
    padding: 16px 25px 23px;
    height: 132px;
}
.hero .images .desc-dcd {
    text-align: center;
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
}
.hero .images .list {
    margin-top: 16px;
}
.hero .images .list::before {
    content: "";
    width: 26px;
    height: 6px;
    position: absolute;
    border-radius: 3px;
    background: #edf1f5;
    top: 103px;
    left: 49px;
}
.hero .images .Schedules {
    position: absolute;
    bottom: 46px;
    left: -59px;
}
.hero .avatar {
    width: 207px;
    height: 90px;
    border-radius: 24px;
    background: #fefefd;

    box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
}
.hero .images .avatar {
    position: absolute;
    bottom: 41px;
    right: 45px;
    padding: 17px 72px 58px 35px;
}
.hero .avatar .desc-item {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
}
.hero .avatar .list-avatar {
    display: flex;
    margin-top: 8px;
}
.hero .avatar .item-avatar {
    width: 33px;
    height: 33px;
    border-radius: 33px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}
.hero .avatar .item-avatar + .item-avatar {
    margin-left: -7px;
}
.hero .avatar .item-avatar:nth-last-of-type(2n + 1) {
    background-color: #1ebfc1;
}
.hero .avatar .item-avatar:nth-last-of-type(2n) {
    background-color: violet;
}

.hero .avatar .item-avatar .cta-item {
    color: #fff;
    line-height: 33px;
    font-size: 1rem;
    padding: 0px 5px;
    font-weight: 500;
}

.hero .item-avatar img {
    width: 33px;
    height: 33px;
    border-radius: 33px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* F E A T U R E S */
.features {
    padding: 65px 0;
}
.features .sub-title {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 5px;
}

.features .heading.lv1 {
    width: 577px;
    margin: 18px 0;
    color: #0d1111;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.33;
}
.features .desc.lv2 {
    width: 590px;
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.77;
}
.features .row {
    display: flex;
    margin-top: 80px;
    justify-content: space-between;
}
.features .row .item {
    width: 33.333%;
}
.features .desc.lv4 {
    margin-top: 26px;
    color: #0d1111;
    font-size: 2rem;
    font-weight: 600;
}
.features-list .content {
    margin-top: 16px;
    color: #9da6a5;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.68;
    width: 170px;
}

.courses {
    margin-top: 30px;
    /* padding: 65px 0; */
    cursor: pointer;
    /* overflow: hidden; */
}
.courses .title-top {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 5px;
}
.courses .title {
    margin-top: 18px;
    color: #0d1111;
    font-size: 4.2rem;
    font-weight: 700;
}
.courses .courses-des {
    display: flex;
}
.courses .courses-right {
    display: flex;
    margin: auto;
    margin-left: 42%;
}
.courses-des .courses-right a {
    color: var(--primary);
    font-size: 1, 4rem;
    font-weight: 700;
}
.courses-des .courses-right a:hover {
    text-decoration-line: underline;
}
.courses .desc {
    margin-top: 19px;
    color: #767e7e;
    width: 525px;
    font-size: 1.8rem;
    line-height: 1.78; /* 177.778% */
}
.courses .courses-list {
    margin-top: 79px;
    display: flex;
    gap: 47px;
    /* overflow: hidden; */
}
.courses .courses-item {
    position: relative;
    flex-shrink: 0;
    width: 30.6%;
    height: 494px;
}
.courses .courses-item .c-img {
    width: 100%;
    height: 393px;
    border-radius: 8px;
    background: #d0efed;
    object-fit: cover;
}
.courses .courses-item .c-img:hover {
    opacity: 0.7;
}
.courses .courses-border {
    padding: 18px 35px 29px 25px;
    position: absolute;
    top: 322px;
    left: 17px;
    right: 17px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}
.courses .border-title {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
}
.courses .courses-border .desc-p {
    margin-top: 16px;
    color: #767e7e;
    font-size: 1.6rem;
}
.courses .courses-border span {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
}
.courses .desc-lv {
    margin-top: 6px;
    color: #9da6a5;
    font-size: 1.4rem;
    font-weight: 400;
}
.courses .courses-bottom {
    display: flex;
    margin-top: 18px;
}
.courses-bottom .item {
    display: flex;
    align-items: center;
}
.courses-bottom .item::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--primary);
    margin: 0 10px;
}

.info-qlt {
    margin-top: 260px;
}
.info-list {
    margin: 0px 156px;
    height: 131px;
    display: flex;
    justify-content: space-between;
}
.info-qlt .number {
    color: #0d1111;
    text-align: center;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.16;
}
.info-qlt .desc {
    margin-top: 11px;
    color: #767e7e;
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.8;
}
.info {
    margin-top: 194px;
    display: flex;
    margin-bottom: 130px;
}

.info .body .heading {
    width: 36px;
    height: 29px;
}
.info .body .desc {
    margin-top: 27px;
    width: 419px;
    color: #5d6564;
    font-size: 3.2rem;

    line-height: 1.5; /* 150% */
}
.info .body .desc.lv1 span {
    color: #070707;
    font-size: 1.6rem;
    font-weight: 500;
    display: flex;
    align-items: center;
}
.info .body .desc.lv1 span::before {
    display: inline-block;
    content: "";
    width: 8px;
    height: 2px;
    background: #070707;
    margin-right: 5px;
}
.info .body .desc.lv1 {
    display: flex;
    color: #767e7e;
    font-size: 1.6rem;
}

.info .scroll {
    display: flex;
    margin-top: 52px;
    gap: 30px;
}
.info .scroll button {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--primary);
    background-color: transparent;
    border: 1px solid var(--primary);
}
.info .list-thumb {
    position: relative;
    width: 58%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info .list-thumb .thumb-item img {
    position: absolute;
    border-radius: 50%;
    object-fit: cover;
}
.info .list-thumb .thumb-item:nth-of-type(1) img {
    width: 235px;
    height: 235px;
    top: -110px;
    right: 171px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.info .list-thumb .thumb-item:nth-of-type(2) img {
    top: -215px;
    left: 145px;
    width: 92px;
    height: 92px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}
.info .list-thumb .thumb-item:nth-of-type(3) img {
    top: 186px;
    left: 210px;
    width: 78px;
    height: 78px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.info .list-thumb .thumb-item:nth-of-type(4) img {
    left: 0;
    top: 40px;
    width: 78px;
    height: 78px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}
.info .list-thumb .thumb-item:nth-of-type(5) img {
    right: 32px;
    bottom: 86px;
    width: 110px;
    height: 110px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}
.info .list-thumb .thumb-item:nth-of-type(6) img {
    top: 158px;
    right: 32px;
    width: 78px;
    height: 78px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}
.base {
    background: #def6f5;
    height: 272px;
}
.base .body-main {
    display: flex;
    justify-content: space-between;
    padding: 100px 0 88px 0;
}
.base .heading {
    color: #070707;
    font-size: 4.2rem;
    font-weight: 700;
}
.base .desc {
    margin-top: 18px;
    color: #767e7e;
    font-size: 1.8rem;
}
.base .btn-st {
    margin-right: 154px;
    margin-top: -6px;
}
.footer {
    margin-top: 79px;
    padding: 50px 0;
}
.footer .row {
    display: flex;
    justify-content: space-between;
}
.footer .heading {
    color: #2e2e2e;
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 26px;
}
.footer .item {
    margin-top: 16px;
}
.footer .item a {
    color: #535353;
    font-size: 1.6rem;
}
.footer .thumb {
    width: 20px;
    height: 20px;
}
.footer .social .item a {
    display: flex;
    align-items: center;
}
.footer .thumb {
    margin-right: 9px;
}
.footer .row-bottom {
    display: block;
    margin-top: 80px;
}
.footer .copyright {
    color: #b0b5b4;
    font-size: 1.8rem;
    text-align: center;
}
